<% flash.each do |name, msg| %>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 offset-xs-2">

      <div class="alert alert-success" role="alert">
        <%= msg %>
      </div>
    </div>
  </div>
</div>
<% end %>